#/etc/systemd/system/GoogleNoteKeeper.service 

[Unit]
Description=Service for Google Keep logging and fixing broken lists 
After=multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/Documents/NoteKeeper/
VIRTUAL_ENV=/home/pi/Documents/NoteKeeper/py_env/
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=/home/pi/Documents/NoteKeeper/py_env/bin/python3 -u NoteKeeper.py

[Install]
WantedBy=multi-user.target

